.footer {
    position: fixed; /* מיקם את הפוטר ביחס לחלון הדפדפן */
    bottom: 0; /* הצמדת הפוטר לתחתית */
    left: 0; /* הצמדת הפוטר לצד שמאל */
    width: 100%; /* רוחב הפוטר שיתפרס על כל רוחב הדפדפן */
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bgSoft);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--textSoft);
    font-weight: bold;
    z-index: 1000; /* מבטיח שהפוטר יהיה מעל תכנים אחרים */
}

.footer-menu {
    display: flex;
    gap: 20px;
}

.footer-icons {
    display: flex;
    gap: 20px;
}

.footer-text {
    font-size: 12px;
}

@media (max-width: 768px) {
    .footer {
        padding: 10px;
        font-size: 10px;
    }

    .footer-menu, .footer-icons {
        gap: 10px;
    }

    .footer-text {
        font-size: 10px;
    }
}